body {
    color: rgb(30, 121, 30);
    background: black;
    font-family: "Bebas Neue", sans-serif;
}

header {
    border-bottom: solid 2px rgb(24, 107, 56);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 97, 21);
}

section {
    background: rgb(184,156,213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
